{{template "base" .}}

{{define "content"}}

<div class="container"> 
  <div class="row"> 
    <div class="col"> 
      <h1 class="mt-4">About Fort Dowry</h1>
      <hr>
      <p>
          <img style="img-fluid float-right rounded mx-auto room-image" src="/static/images/outside.png">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra mauris in aliquam sem fringilla ut morbi. Sed cras ornare arcu dui vivamus arcu. Mauris vitae ultricies leo integer malesuada nunc. Enim neque volutpat ac tincidunt. Vestibulum morbi blandit cursus risus at ultrices mi. Urna et pharetra pharetra massa massa. Augue ut lectus arcu bibendum. Nulla pharetra diam sit amet nisl suscipit adipiscing. Augue ut lectus arcu bibendum. Pellentesque massa placerat duis ultricies. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Id volutpat lacus laoreet non curabitur gravida.      
      </p>
      <p>
        Libero nunc consequat interdum varius. Tortor at risus viverra adipiscing at in tellus integer. Ornare aenean euismod elementum nisi quis. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Scelerisque eu ultrices vitae auctor eu augue ut. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Eu tincidunt tortor aliquam nulla facilisi cras. Id donec ultrices tincidunt arcu non. Risus ultricies tristique nulla aliquet enim. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Turpis egestas maecenas pharetra convallis posuere morbi leo urna molestie. Fermentum et sollicitudin ac orci phasellus. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Aliquam etiam erat velit scelerisque in dictum non consectetur. Vestibulum sed arcu non odio euismod lacinia.     
      </p>
      <p> 
        In pellentesque massa placerat duis ultricies. Massa tincidunt dui ut ornare lectus. Viverra aliquet eget sit amet tellus cras adipiscing. Dui id ornare arcu odio ut sem. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Morbi tristique senectus et netus et malesuada fames ac. Nulla facilisi nullam vehicula ipsum a arcu. Mi bibendum neque egestas congue quisque egestas diam in. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Vestibulum lectus mauris ultrices eros in. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Duis ut diam quam nulla porttitor. Erat velit scelerisque in dictum non consectetur. Vel facilisis volutpat est velit egestas dui id ornare arcu. Risus quis varius quam quisque id. Libero volutpat sed cras ornare arcu dui. Suscipit tellus mauris a diam. Blandit cursus risus at ultrices. Maecenas ultricies mi eget mauris pharetra.      
      </p>
    </div>
  </div>
</div>

{{end}}