{{template "admin" .}}

{{define "page_title"}}
    Dashboard
{{end}}

{{define "content"}}

<div class="container"> 
  <div class="row"> 
    <div class="col-md-12"> 
      <h1>Secured Admin Dashboard</h1>
    </div>
  </div>
</div>

{{end}}