{{template "admin" .}}

{{define "page_title"}}
    Dashboard
{{end}}

{{define "content"}}
	{{$now := index .Data "now"}}
	{{$rooms := index .Data "rooms"}}
	{{$dim := index .IntMap "days_in_month"}}
	{{$currMonth := index .StringMap "this_month"}}
	{{$currYear := index .StringMap "this_month_year"}}
    <div class="col-md-12"> 
    	<div class="text-center">
			<h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3>
    	</div>
		<div class="clearfix">
			<div class="float-start">
				<a class="btn btn-sm btn-outline-secondary" href='/admin/reservations_calendar?y={{index  .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}'>&lt;&lt;</a>
			</div>
			<div class = "float-end">
				<a class="btn btn-sm btn-outline-secondary" href='/admin/reservations_calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}'>&gt;&gt;</a>
			</div>
		</div>
		<form method="post" action="/admin/reservations_calendar">
		<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
		{{range $rooms}}

			{{$roomId := .ID }}
			{{$blocks := index $.Data (printf "block_map_%d" .ID)}}
			{{$reservations := index $.Data (printf "reservation_map_%d" .ID)}}
			<h4 class="mt-4">{{.RoomName}}</h4>
			<div class = "table-responsive">
				<table class = "table table-bordered table-sm">
					<tr class="table-dark">
						{{range $index := iterate $dim}}
							<td class="text-center">
								{{$index}}
							</td>
						{{end}}
					</tr>

					<tr>
						{{range $index := iterate $dim}}
						<td class="text-center">
							{{if (gt (index $reservations (printf "%s-%s-%d" $currYear $currMonth $index)) 0) }}
								<a href='/admin/reservations/cal/{{index $reservations (printf "%s-%s-%d" $currYear $currMonth $index)}}'>
									<span class="text-danger">R</span>
							{{else}}
							<input type='checkbox'
								{{if (gt (index $blocks (printf "%s-%s-%d" $currYear $currMonth $index)) 0)}}
									checked
									name='remove_block_{{$roomId}}_{{printf "%s-%s-%d" $currYear $currMonth $index}}'
									value='{{index $blocks (printf "%s-%s-%d" $currYear $currMonth $index)}}'
								{{else}}
									name='add_block_{{$roomId}}_{{printf "%s-%s-%d" $currYear $currMonth $index}}'
								{{end}}
							 >
							{{end}}
						</td>
						{{end}}
					</tr>
				</table>
			</div>
		{{end}}
		<hr>
		<input type="submit" class="btn btn-primary" value="Save Changes">
		</form>
	</div>
{{end}}