{{template "base" .}}

{{define "content"}}


    <div class="container">
      <div class="row"> 
        <div class="col">
          <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail rounded mx-auto d-block room-image">
        </div>
      </div>
    </div>


    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="text-center mt-3">Welcome to the General's Quarters</h1> 
          <p>Your home away from home here to provide comfort and a sense of community, this will be a vacation to remember! Set on the sparkling waters of The Atlantic Ocean you can enjoy the beautiful sights and take in the soothing sounds of the ocean while enjoying a fresh cup of coffee on our terrace overlooking the gulf. </p>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
                  <p>If you like the sound of those offerings,please navigate to the "Book Now" page or simply click the button below to go there automatically</p>
                  <a href="#!" id="check-availability-btn" class="btn btn-success">Check Availability</a>
      </div>
    </div>

{{end}}


{{define "js"}}



<script>
        document.getElementById("check-availability-btn").addEventListener("click", function () {
            let html = `
<form id="check-availability-form" action="" method="post" novalidate>
    <div class="row">
        <div class="col">
            <div class="row" id="reservation-dates-modal">
                <div class="col">
                    <input enabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                </div>
                <div class="col">
                    <input enabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                </div>
            </div>
        </div>
    </div>
</form>
`
            attention.custom({
                msg: html,
                title: "Choose your dates",

                willOpen: () => {
                    const elem = document.getElementById('reservation-dates-modal');
                    const rp = new DateRangePicker(elem, {
                        format: 'yyyy-mm-dd',
                        showOnFocus: false,
                        orientation: 'top',
                        minDate: new Date(),
                    })
                },

                callback: function (result) {
                    console.log("called");

                    let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("room_id", "1");

                    fetch('/search_availability-json', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.ok) {
                                attention.custom({
                                  icon: 'success',
                                  msg: '<p>Room is available</p>'
                                    + '<p><a href="#!" class="btn btn-primary">Book now</a></p>',
                                })
                            } else {
                                attention.error({
                                    msg: data.message,
                                })
                            }
                        })
                }
            });
        })
    </script>
{{end}}