{{template "base" .}}

{{define "content"}}

<div class="container"> 
  <div class="row"> 
    <div class="col"> 
      <h1>This is the home page</h1>
      <p>This is a paragraph with some text</p>
      <p>Visit the <a href="/about">About page</a> to see your IP adress
    </div>
  </div>
</div>

{{end}}