{{template "base" .}}

{{define "content"}}


        <div class="container">
    
          <div class="row">
            <div class="col">
              <h1 class="text-center mt-5">Search for Availability</h1> 
            </div>
          </div>
          <form action="/search_availability" method="post" class="needs-validation" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="row" id="reservation-dates">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="start_date" class="form-label">Start Date</label>
                  <input type="text" class="form-control" id="start_date" name="start" required  autocomplete="off" placeholder="YYYY-MM-DD" >
                </div>
                <hr>
              <button type="submit" class="btn btn-primary">Search Availability</button>
              </div>
              <div class="col-md-4">  
                <div class="mb-3">
                  <label for="end_date" class="form-label" req>End Date</label>
                  <input type="text" class="form-control" id="end_date" name="end" required autocomplete="off" placeholder="YYYY-MM-DD">
                </div>
              </div>
            </div>
          </form>
          


{{end}}

{{define "js"}}
  <script> 
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd" 
    }); 
  </script>
{{end}}